.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    max-height: 120vh;
  }
  .cards img {
    padding:5px;
    margin: 25px;
    border: 5px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    max-width: 25vw;
  }
