@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    text-align: center;
    padding: 20px;
    background-color:#dfe6e9;
    font-size: 800;
}
.container{
    display: flex ;
    flex-direction: row;
    
}
.img{
    margin: 10px;
    padding: 15px;
}

.right-text{
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px ;
    padding: 15px;   
}

.t{
    flex: 0 40%;
    margin: 5px;
    padding: 15px 25px; 
    font-size: 300;
    text-align: center;
    max-height: max-content;
}

.t-1 , .t-4 {
    background-color: #aacfd0;
}

.t-2, .t-3{
    color: azure;
    background-color: #1f4e5f;
}
.maintext{
    background:#e1eef6;
    margin: 10px;
    padding: 15px;
    font-size: 500;
}
footer{
    margin-top: 60px;
    padding: 20px;
    color: azure;
    background-color: black ;
    text-align: center;
    font-size: 500;
}