body, html{
    height: 100%;
}
.content{
    height:900px;
    background-color:rgb(215, 255, 182);
    font-size: 30px;
    margin: 20px;
    text-align: center;

}
.parallax-1{
    margin: 20px;
    background-image: url(./img/newbg.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-2{
    margin: 20px;
    background-image: url(./img/moroccan-flower-dark.png);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
